<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="database:UserName" value="devuser"/>
    <add key="database:Password" value="devuser"/>
    <add key="database:Server" value="(local)"/>
    <add key="database:Catalog" value="Northwind"/>
    <add key="DataServices" value="SqlDataService"/>
  </appSettings>
</configuration>